<html>
  
  <head>
    <link rel="stylesheet" href='/static/style.css'/>
    <title>Cat Hunter Mk2000</title>
  </head>
  
  <body>
    <h1>Cat Hunter Mk 2000</h1>
    <p>Developed by Ashley Pursglove in Lockdown 2020</p>
    <img src="{{ url_for('video_feed') }}"  style="width: 75%; height: 75%" align="middle">
    
<h3> 
		<a href="/twitch/on" class="button">Twitch like a dying bird</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<centre><a href="/left/on" class="button">LEFT</a>  

			
			<a href="/right/on" class="button">RIGHT</a>  </center>
      
      

</h3>
    
  </body>
  
</html>

